* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

:root {
    --bg_card: #1B1937;
    --bg_color: #0A0C1C;
    --white: #fff;
    --violet: #AB5CDB;
}

body {
    background: var(--bg_color);
    color: var(--white);
    line-height: 25px;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: 400;   
}

h1 {
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

section {
    background: var(--bg_card);
    border-radius: 0.5rem;
    box-shadow: 0rem 1.25rem 1.25rem -0.625rem rgba(23, 25, 41, 0.203087);
    min-height: 48.75rem;
    width: 87%;
    max-width: 69.375rem;
    margin-top: 3.125rem;
}

article {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 1.9375rem 0 1.9375rem;
}

#img {
    display: block;
    max-width: 100%;
    border-radius: 0.875rem 0.875rem 0 0;
    width: 100%;
    height: 100%;
    mix-blend-mode: multiply;
    opacity: .8;
    margin-bottom: 2.5rem;
}

.insight {
    color: #AB5CDB;
}

.article_paragraph {
    margin-bottom: 2.5rem;
    mix-blend-mode: normal;
    opacity: 0.75;
    text-align: center;
}

.article_datas {
    display: flex;
    gap: 1.5rem;
    flex-direction: column;  
}

.article_data_paragraph1 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.8125rem;
    text-align: center;
}

.article_data_paragraph2 {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 0.75rem;
    letter-spacing: 0.0625rem;
    mix-blend-mode: normal;
    opacity: 0.6;
    text-align: center;
    text-transform: uppercase; 
}

.picture {
    background: var(--violet);
    display: block;
    height: 30%;
    line-height: 0;
    max-width: 100%;
    border-radius: 0.875rem 0.875rem 0 0;
}

@media screen and (min-width: 51.25rem) and (max-width: 89.9375rem) {
    h1 {
        font-size: 2.25rem;
        line-height: 2.75rem;
        margin-bottom: 1.5625rem;
    }
}

@media screen and (min-width: 90rem) {
    
    h1 {
        font-size: 2.25rem;
        line-height: 2.75rem;
        margin-bottom: 1.5625rem;
        text-align: left;
    }
    
    section {
        display: flex;
        flex-direction: row-reverse;
        min-height: 27.875rem;
        width: 77vw;
        margin-top: 11.0625rem;
    }
    
    article {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        padding: 0 5.9375rem 0 4.5rem;
        margin-top: 4.4375rem;
    }
    
    #img {
        margin-bottom: 0;
        width: 33.75rem;
        height: 27.875rem;
    }
    
    .article_paragraph {
        margin-bottom: 4.5rem;
        text-align: left;
    }
    
    .article_datas {
        display: flex;
        gap: 3.9375rem;
        flex-direction: row;  
    }
    
    .article_data_paragraph1 {
        text-align: left;
    }
    
    .article_data_paragraph2 {
        text-align: left; 
    }
    
    .picture {
        background: var(--violet);
        display: block;
        line-height: 0;
        width: 100%;
        height: 100%;
        border-radius: 0rem 0.875rem 0.875rem 0;
    }
}